ul {
  padding-left: 40px;
  padding-right: 10px;
  margin-bottom: 20px;
}

li {
  text-align: center;
  display: table-cell;
  width: 3%;
  vertical-align: middle;
}

.status_value {
  font-family: Noto;
  color: #aaaaaa !important;
  font-size: 0.8rem;
  font-weight: 400;
}

.status_value0 {
  font-family: Noto;
  color: #aaaaaa !important;
  font-size: 0.8rem;
  font-weight: 400;
}

.status_value1 {
  font-family: Noto;
  color: #aaaaaa !important;
  font-size: 0.8rem;
  font-weight: 400;
}
