<div>

    <ul>
        <li class="status_value0"></li>
        <li class="status_value0">장비코드</li>
        <li class="status_value">모델명</li>
        <li class="status_value">시리얼번호</li>
        <li class="status_value">높이</li>
        <li class="status_value">구동타입</li>
        <li class="status_value">등급</li>
        <li class="status_value">현재상태</li>

      </ul>

</div>

<app-card-test2></app-card-test2>

<app-card-form></app-card-form>

<app-card-test2></app-card-test2>

<app-card-test2></app-card-test2>

<app-card-test></app-card-test>

<app-card-test2></app-card-test2>

<app-card-test2></app-card-test2>

<app-card-test2></app-card-test2>
