<div class="sub-title">
<span> AS관리 </span>
</div>
<br>
<div>

    <ul>
        <li class="status_value0"></li>
        <li class="status_value0">접수일자</li>
        <li class="status_value">거래처명</li>
        <li class="status_value">현장명</li>
        <li class="status_value">담당자</li>
        <li class="status_value">담당자연락처</li>
        <li class="status_value">고장유형</li>
        <li class="status_value">조치내용</li>
        <li class="status_value0"></li>

      </ul>

</div>

<div class="equipment_card">
    <ul>
  
        <li class="status_value1">
          <fa-icon [icon]="['fas', 'angle-right']" size="lg"></fa-icon>
        </li>
      <li class="status_value">18-09-10</li>
      <li class="status_value">맥스건설</li>
      <li class="status_value">OOO신축현장</li>
      <li class="status_value">김한국</li>
      <li class="status_value">유압펌프</li>
      <li class="status_value">현장에서 교체</li>
      <li class="status_value">300,000</li>
      <li class="status_value">*</li>


  
    </ul>
  
  
  </div>
  
  <div class="equipment_card">
    <div class="machinary-title">
      <ul>
        <li class="card_close">
          <fa-icon [icon]="['fas', 'angle-down']" size="2x"></fa-icon>
        </li>
        <li class="code_number">S-1237</li>
        <li class="model_number">SJ4632</li>
        <li class="serial_number">A0123456789</li>
    
      </ul>
    </div>
      <div>
        <ul>
          <li>
            <img class="image_fit" src="../assets/sj4626.jpg" alt="구글 로고" title="말풍선">
          </li>
          <li class="customers">
            <table class="customers">
              <tr>
                <td class="col-md-1">접수일</td>
                <td class="col-md-3">18-09-10</td>
                <td class="col-md-1">거래처명</td>
                <td class="col-md-3">AAA건설사</td>
                <td class="col-md-1">현장명</td>
                <td class="col-md-3">수원B상가</td>
              </tr>
              <tr>
                <td class="col-md-1">담당자</td>
                <td class="col-md-3">김한국</td>
                <td class="col-md-1">담당자연락처</td>
                <td class="col-md-3">010-3233-4124</td>
                <td class="col-md-1">고장유형</td>
                <td class="col-md-3">유압펌프 고장</td>
              </tr>
              <tr>
                <td class="col-md-1">조치내용</td>
                <td colspan="11" class="col-md-3">00일 00시에 ooo기사 현장에서 교체예정 <br></td>
    
              </tr>
            </table>
          </li>
        </ul>
      </div>
    </div>
    