<div class="equipment_card">
    <ul>
      <li class="card_close" (click)="fold()">
        <fa-icon [icon]="['fas', 'angle-down']" size="2x"></fa-icon>
      </li>
      <li class="code_number">{{machinary.code}}</li>
      <li class="model_number">{{machinary.model_name}}</li>
      <li class="serial_number">{{machinary.serial}}</li>

    </ul>

    <div>
      <ul>
        <li>
          <img class="image_fit" src="../assets/sj4626.jpg" alt="구글 로고" title="말풍선">
        </li>
        <li class="customers">
          <table class="customers">
            <tr>
              <td class="col-md-1">높이</td>
              <td class="col-md-3">{{machinary.height}}M</td>
              <td class="col-md-1">구동타입</td>
              <td class="col-md-3">{{machinary.type}}</td>
              <td class="col-md-1">등급</td>
              <td class="col-md-3">{{machinary.grade}}</td>
            </tr>
            <tr>
              <td class="col-md-1">구입처</td>
              <td class="col-md-3">{{machinary.purchase}}</td>
              <td class="col-md-1">구입일자</td>
              <td class="col-md-3">{{machinary.purchase_date | date: 'yyyy-mm-dd'}}</td>
              <td class="col-md-1">구입가격</td>
              <td class="col-md-3">{{machinary.purchase_price | currency: 'KRW' }}</td>
            </tr>
            <tr>
              <td class="col-md-1">월임대료</td>
              <td class="col-md-3">{{machinary.monthly_rental | currency: 'KRW'}}</td>
              <td class="col-md-1">일임대료</td>
              <td class="col-md-3">{{machinary.daily_rental | currency: 'KRW'}}</td>
              <td class="col-md-1">운송비</td>
              <td class="col-md-3">200,000</td>
            </tr>
            <tr>
              <td class="col-md-1">임대현황</td>
              <td class="col-md-3">{{machinary.status}}</td>
              <td class="col-md-1">출고일</td>
              <td class="col-md-3">2018-09-12</td>
              <td class="col-md-1">입고예정일</td>
              <td class="col-md-3">2018-09-12</td>
            </tr>
            <tr>
              <td class="col-md-1">비고</td>
              <td colspan="5">{{machinary.desc}}</td>
            </tr>
            <tr>
              <td class="col-md-1">수리내역</td>
              <td colspan="5" class="col-md-3">18-05-10 배터리교체<br>18-03-13 오일교환<br>18-02-20 궤도수리<br></td>
            </tr>
          </table>
        </li>
      </ul>
    </div>
  </div>
