<div class="sub-title">
    <span> 폐기장비관리 </span>
    </div>
    <br>
    <div>
    
        <ul>
            <li class="status_value0"></li>
            <li class="status_value0">폐기날짜</li>
            <li class="status_value">관리번호</li>
            <li class="status_value">모델명</li>
            <li class="status_value">Serial No.</li>
            <li class="status_value">높이</li>
            <li class="status_value">구동타입</li>
            <li class="status_value">폐기금액</li>
            <li class="status_value">비고</li>
    
          </ul>
    
    </div>
    
    <div class="equipment_card">
        <ul>
      
            <li class="status_value1">
              <fa-icon [icon]="['fas', 'angle-right']" size="lg"></fa-icon>
            </li>
          <li class="status_value">18-09-10</li>
          <li class="status_value">CODE-A001</li>
          <li class="status_value">GS-1530</li>
          <li class="status_value">BS31HJK</li>
          <li class="status_value">6M</li>
          <li class="status_value">배터리</li>
          <li class="status_value">1,200,000</li>
          <li class="status_value">*</li>
    
    
      
        </ul>
      
      
      </div>
      