<div class="equipment_card">
  <ul>
    <li class="code_number">장비등록</li>
  </ul>

  <div>
        <table class="customers">
          <tr>
            <td class="selector01">제작사</td>
            <select class="form-control" placeholder="제작사를 선택하세요">
              <option>A사</option>
              <option>B사</option>
              <option>C사</option>
              <option>D사</option>
              <option>E사</option>
            </select>
            <td class="selector01">모델명</td>
            <select class="form-control" placeholder="모델명을 선택하세요">
              <option>aaaaaa</option>
              <option>bbbbbb</option>
              <option>cccccc</option>
              <option>dddddd</option>
              <option>eeeeee</option>
            </select>
            <td class="selector01">높이</td>
            <select class="form-control" placeholder="높이를 선택하세요">
              <option>6M</option>
              <option>8M</option>
              <option>10M</option>
              <option>12M</option>
              <option>14M</option>
              <option>16M</option>
            </select>
          </tr>
          <tr>
            <td class="selector01">구입처</td>
            <input type="text" class="form-control" id="구입처" placeholder="구입처 입력하세요">
            <td class="selector01">구입일자</td>
            <input type="date" class="form-control" id="구입일자">
            <td class="selector01">구입가격</td>
            <input type="number" class="form-control " id="구입가격" placeholder="구입가격을 입력하세요">
          </tr>
          <tr>
            <td class="selector01">관리번호</td>
            <input type="text" class="form-control" id="관리번호" placeholder="관리번호를 입력하세요">
            <td class="selector01">시리얼번호</td>
            <input type="text" class="form-control " id="모델명" placeholder="시리얼번호를 입력하세요">
            <td class="selector01">임차장비선택</td>
            
            <select class="form-control" placeholder="임차장비를 선택하세요">
              <option>자체구입</option>
              <option>임차장비</option>
            </select>
          </tr>
          <tr>
              <td class="selector01">월임대료</td>
              <input type="number" class="form-control" id="구입처" placeholder="월임대료를 입력하세요">
              <td class="selector01">일임대료</td>
              <input type="number" class="form-control" id="구입일자" placeholder="일임대료를 입력하세요">
              <td class="selector01">비고</td>
              <input type="text" class="form-control " id="구입가격" placeholder="비고를 입력하세요">
            </tr>
        </table>
  
        <br>
        <div class="form-row justify-content-end">
          <div class="col-2">
              <button class="btn btn-block btn-secondary machinary-add">취소</button>
          </div>
          <div class="col-2">
              <button class="btn btn-block btn-success machinary-add">장비추가</button>
          </div>
        </div>

  
  </div>
</div>
