<div class="equipment_card">
  <ul>
    <li class="code_number">장비등록</li>
  </ul>

  <div>
        <table class="customers">
          <tr>
            <td class="selector01">높이</td>
            <select class="form-control" placeholder="높이를 입력하세요">
              <option>6M</option>
              <option>7M</option>
              <option>9M</option>
              <option>11M</option>
              <option>14M</option>
            </select>
            <td class="selector01">등급</td>
            <select class="form-control" placeholder="등급을 입력하세요">
              <option>A</option>
              <option>B</option>
              <option>C</option>
              <option>E</option>
              <option>F</option>
            </select>
            <td class="selector01">제작사</td>
            <select class="form-control" placeholder="제자사를 입력하세요">
              <option>스카이락</option>
              <option>JLG</option>
            </select>
          </tr>
          <tr>
            <td class="selector01">구입처</td>
            <input type="text" class="form-control" id="구입처" placeholder="구입처 입력하세요">
            <td class="selector01">구입일자</td>
            <input type="date" class="form-control" id="구입일자">
            <td class="selector01">구입가격</td>
            <input type="number" class="form-control " id="구입가격" placeholder="구입가격을 입력하세요">
          </tr>
          <tr>
            <td class="selector01">관리번호</td>
            <input type="text" class="form-control" id="관리번호" placeholder="관리번호를 입력하세요">
            <td class="selector01">모델명</td>
            <input type="text" class="form-control " id="모델명" placeholder="모델명을 입력하세요">
            <td class="selector01">시리얼번호</td>
            <input type="text" class="form-control " id="시리얼번호" placeholder="시리얼번호를 입력하세요">
          </tr>
        </table>
  
        <br>
        <div class="form-row justify-content-end">
          <div class="col-2">
              <button class="btn btn-block btn-secondary machinary-add">취소</button>
          </div>
          <div class="col-2">
              <button class="btn btn-block btn-success machinary-add">장비추가</button>
          </div>
        </div>

  
  </div>
</div>
