<div class="side-nav-container">
  <div class="admin-nav-wrap">
    <ul class="sidebar">
      <ng-container *ngFor="let m of menu">
        <ng-container [ngSwitch]="m.type">
          <ng-container *ngSwitchCase="'title'">
            <li class="sidebar-stitle">
              <fa-icon [icon]="m.icon" size="sm"></fa-icon>
              {{m.title}}
            </li>
          </ng-container>
          <ng-container *ngSwitchCase="'menu'">
            <li class="sidebar-stitle" [routerLink]="m.router" routerLinkActive="selected">
              <fa-icon [icon]="m.icon" size="sm"></fa-icon>
              {{m.title}}
            </li>
          </ng-container>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>
