<header>
  <div class="artboard">
    <div class="nav-item">
      <div class="titlebar">
        <div class="klra-user">
            <i class="fas fa-user-circle"></i> (주)현대렌탈 - <b>홍길동</b> 대리
        <button type="button" class="btn btn-primary btn-xs">Logout</button></div>
        <div class="searchbar">
          <div class="klralogo">
            <img src="../assets/klralogo.png">
          </div>
          <ul class="main_nav">
            <li class="nav_item" routerLink="/genaral" routerLinkActive="selected">
              일반관리
            </li>
            <li class="nav_item" routerLink="/machinary" routerLinkActive="selected">
              장비관리
            </li>
            <li class="nav_item">
              임대관리
            </li>
            <li class="nav_item">
              거래처관리
            </li>
            <li class="nav_item">
              부품쇼핑몰
            </li>
            <li class="nav_item">
              기타
            </li>
          </ul>
        </div>
        <div class="dividebar">
        </div>
      </div>
    </div>
  </div>
  <!--nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://github.com/ngx-rocket" translate>APP_NAME</a>
    <button class="navbar-toggler" type="button" aria-controls="navbar-menu"
            aria-label="Toggle navigation" (click)="toggleMenu()" [attr.aria-expanded]="!menuHidden">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbar-menu" class="collapse navbar-collapse float-xs-none" [ngbCollapse]="menuHidden">
      <div class="navbar-nav">
        <a class="nav-item nav-link text-uppercase" routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span translate>Home</span>
        </a>
        <a class="nav-item nav-link text-uppercase" routerLink="/about" routerLinkActive="active">
          <i class="fas fa-question-circle"></i>
          <span translate>About</span>
        </a>
      </div>
      <div class="navbar-nav ml-auto">
        <div class="nav-item" ngbDropdown placement="bottom-right">
          <a id="language-dropdown" class="nav-link" ngbDropdownToggle>{{currentLanguage}}</a>
          <div ngbDropdownMenu aria-labelledby="language-dropdown">
            <button class="dropdown-item" *ngFor="let language of languages" (click)="setLanguage(language)">
              {{language}}
            </button>
          </div>
        </div>
        <div class="nav-item" ngbDropdown placement="bottom-right">
          <a id="user-dropdown" class="nav-link" ngbDropdownToggle>
            <i class="fas fa-user-circle"></i>
          </a>
          <div ngbDropdownMenu aria-labelledby="user-dropdown">
            <h6 class="dropdown-header">
              <span translate>Logged in as</span> <b>{{username}}</b></h6>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" translate>Logout</button>
          </div>
        </div>
      </div>
    </div>
  </nav-->
</header>
